<h1>Question#ask</h1>
<p>Find me in app/views/question/ask.html.erb</p>
   <form action="/answer" method="get">
      <input type="text" name="answer">
      <input type="submit" value="Ask!">
    </form>
